---
import presentation from "../data/presentation_data";
import skills from "../data/skills_data";
---

<div id="about" class="about-container">
  <h1>Hi, I'm HeckCodes 👋🏻</h1>
  <p class="description">
    Welcome to my personal website! I'm
    <span class="text-accent">Chandramauli Shastri,</span>
    a tech enthusiast on a quest for creative solutions. Join me as I showcase my
    passion for problem-solving and share my projects, driven by expertise in
    <span class="text-accent">C++ and Flutter/Dart</span> and more.
  </p>

  <ul class="socials">
    {
      presentation.socials.map((social) => (
        <>
          <li>
            <a href={social.link} target="_blank" rel="noopener noreferrer">
              {social.label}
            </a>
          </li>
        </>
      ))
    }
  </ul>

  <div class="skills">
    {
      skills.map((skill) => (
        <>
          <div class="tooltip">
            <img src={skill.imgPath} alt={skill.label} />
            <span class="tooltiptext">{skill.label}</span>
          </div>
        </>
      ))
    }
  </div>
</div>

<style>
  .about-container {
    max-width: 450px;
  }

  .description {
    line-height: 1.5;
  }

  .text-accent {
    color: var(--accent);
  }

  .socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .socials li {
    padding-top: 16px;
    padding-right: 20px;
  }

  .skills {
    max-width: 450;
    margin-top: 26px;
    padding: 0;
    flex-wrap: wrap;
  }

  .skills div img {
    margin-right: 16px;
    height: 44px;
    width: auto;
    opacity: 50%;
  }

  @media (max-width: 700px) {
    .skills div img {
      margin-right: 4px;
      height: 36px;
      width: auto;
      opacity: 50%;
    }
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;

    background-color: var(--secondary);
    border: 1px solid;
    border-radius: 8px;
    border-color: transparent;

    color: #ffffff;
    text-align: center;
    padding: 5px 0;

    position: absolute;
    z-index: 1;

    top: 120%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  a {
    all: unset;
  }

  a:hover {
    color: var(--primary);
    cursor: pointer;
    transition: 500ms;
  }
</style>
